@import url(https://db.onlinewebfonts.com/c/29ddb4605533a38e086b48fa105e0d12?family=Nohemi);
@import url(https://db.onlinewebfonts.com/c/fb01d83c9fe1d39a2abfa34ee1f4cc5c?family=Monosign);

body {
    background-color: #F7F4EA;
    overflow-x: hidden;
    overflow-y: visible;
}

* {
    margin: 0;
    padding: 0;
}




/* NAVBAR */

nav {
    font-family: "Nohemi";
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.logo {
    width: 9.9vw;
    height: 10.19vh;
}

nav .logo {
    width: 9.9vw;
    height: 10.19vh;
    object-fit: cover;
    margin-left: 5.2vw;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 11.2vw;
}

nav a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.25vw;
    padding: 1.04vh 2.04vh;
}

.box .vector {
    right: 0;
    width: 2.08vw;
    height: 3.7vh;
}

/* SEARCHBOX */

.search {
    margin: 0 5.81vw 0 10.42vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: clamp(0.4rem, 1.5vw, 1.2rem);
    /* Responsive font size */
    background-color: #E6BDBC;
    border: none;
    color: #646464;
    padding: 0.64vh 0.52vw;
    border-radius: 3vw;
    width: 15.42vw;
    height: 5.52vh;
    transition: all ease-in-out 0.5s;
    margin-right: -2.58vw;
}

.search__input:hover {
    box-shadow: 0 0 0.052vw #ffffff13;
}

.search__input:focus {
    outline: none;
    background-color: #E6BDBC;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100rem;
    color: black;
}

.search__input:focus+.search__button {
    background-color: #E6BDBC;
}

.search__button {
    border: none;
    background-color: #E6BDBC;
    margin-top: 0.092vh;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 3.7vh;
    width: 2.08vw;
    fill: black;
}

nav {
    height: 8vh;
}

/* Section 2 */

.refund{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    background-color: #E6BDBC;
    box-shadow: 0 0 0 3vh #ec9f9e;
    border-radius:  25px;
    width: 44%;
    position: relative;
    left: 3.25%;
}

.refund h2{
    font-family: "Nohemi";
    font-size: 2.5vw;
    color: #000;
    margin-bottom: 2vh;
    text-align: center;
    margin-top: 1vw;
}

.refund h3{
    font-family: "Nohemi";
    font-size: 2vw;
    color: #000;
    margin-bottom: 2vh;
    text-align: center;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;  
    padding: 0 2vw;
    text-align: justify;
}
.refund p{
    font-family: "Nohemi";
    font-size: 1.1vw;
    color: #000;
    margin-bottom: 2vh;
    text-align: center;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0 2vw;
    text-align: justify;
    line-height: 1.2;

}

.shipping{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    background-color: #E6BDBC;
    box-shadow: 0 0 0 3vh #ec9f9e;
    border-radius:  25px;
    width: 44%;
    position: absolute;
    right: 3.25%;
    top: 12%;
}

.shipping h2{
    font-family: "Nohemi";
    font-size: 2.5vw;
    color: #000;
    margin-bottom: 2vh;
    text-align: center;
    margin-top: 1vw;
}

.shipping h3{
    font-family: "Nohemi";
    font-size: 2vw;
    color: #000;
    margin-bottom: 2vh;
    text-align: center;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0 2vw;
    text-align: justify;

}
.shipping p{
    font-family: "Nohemi";
    font-size: 1.1vw;
    color: #000;
    margin-bottom: 2vh;
    text-align: center;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0 2vw;
    text-align: justify;
    line-height: 1.2;

}

.refund:hover, .shipping:hover {
    box-shadow: 0 0 0 3vh #ec9f9e, 0 0 20px #ec9f9e; 
    transition: all 0.3s ease-in-out;
}


.last-logo img{
    width: 18.75rem;
  height: 10.875rem;
  flex-shrink: 0;
  aspect-ratio: 50/29;
  margin: 5rem 6.25rem;
  
  }
  
  .footer{
    margin-top: 30rem;
    padding-bottom: 5%;
  }
  
  .container1st{
    position: absolute;
    margin-top: -13rem;
    margin-left: 46rem;
  }
  
  .container1st h3{
    color: #000;
  font-family: "Nohemi";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;    
  }
  
  .container1st ul li{
    margin: 2.5rem 0 2.5rem 0;
    padding: 2.5rem auto;
    list-style: none;
    color: #000;
  font-family: "Nohemi";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .container2nd ul li a{
    text-decoration: none;
    color: #000;
  }

  .container2nd{
    margin-top: -13rem;
    margin-left: 73rem;
  }
  
  .container2nd h3{
    color: #000;
    font-family: "Nohemi";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .container2nd ul li{
    margin: 2.5rem 0 2.5rem 0;
    padding: 2.5rem auto;
    list-style: none;
    color: #000;
  font-family: "Nohemi";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .container3rd{
    margin-top: -20.5rem;
    margin-left: 97rem;
  }
  
  .container3rd h3{
    color: #000;
    font-family: "Nohemi";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .container3rd ul li{
    margin: 2.5rem 0 2.5rem 0;
    padding: 2.5rem auto;
    list-style: none;
    color: #000;
  font-family: "Nohemi";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .container3rd ul li a{
    text-decoration: none;
    color: #000;
  }

  
  .sign-up{
    position: absolute;
    margin-left: 6.25rem;
    margin-top: -8rem;
  }
  
  .sign-up h2{
    color: #000;
  font-family: "Nohemi";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .sign-up p{
  color: #000;
  font-family: "Nohemi";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: .69rem;
  } 