@import url(https://db.onlinewebfonts.com/c/29ddb4605533a38e086b48fa105e0d12?family=Nohemi);
@import url(https://db.onlinewebfonts.com/c/fb01d83c9fe1d39a2abfa34ee1f4cc5c?family=Monosign);

/* font-family: "Nohemi"; */
/* font-family: "Monosign"; */




body {
    background-color: #F7F4EA;
}




/* NAVBAR */



nav {
    font-family: "Nohemi";
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 190px;
    height: 110px;
}


nav .logo {
    width: 190px;
    height: 110px;
    object-fit: cover;
    margin-left: 100px;
}


nav ul {
    list-style: none;
    display: flex;
    margin-left: 100px;
}


nav a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 24px;
    padding: 20px;
}



.box .vector {
    right: 0;
    width: 40px;
    height: 40px;
}


/* SEARCHBOX */

.search {
    margin: 0px 150px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #E6BDBC;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 20em;
    height: 2em;
    transition: all ease-in-out .5s;
    margin-right: -4rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #ffffff13;
}

.search__input:focus {
    outline: none;
    background-color: #E6BDBC;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: black;
}

.search__input:focus+.search__button {
    background-color: #E6BDBC;
}

.search__button {
    border: none;
    background-color: #E6BDBC;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 40px;
    width: 40px;
    fill: black;
}

.title-1 {
    position: relative;
}

.title-1 h2 {
    margin-left: 100px;
    margin-top: 40px;
    color: #000;
    font-family: "Nohemi";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
}

.title-1 h1 {
    color: #E6BDBC;
    font-family: "Monosign";
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    margin-top: -170px;
    margin-left: 100px;

}

.img1 {
    background: url(./img/duong-ngan-HURV8gwH_gE-unsplash.jpg) lightgray -0.048px -202.193px / 100.012% 143.249% no-repeat;
    width: 789px;
    height: 826px;
    right: 0;
    position: absolute;
    margin-right: 100px;
    margin-top: -570px;
    flex-shrink: 0;
    aspect-ratio: 789/826;
}

.desc1 p {
    color: #000;
    font-family: "Nohemi";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    margin-left: 100px;
    margin-top: 100px;
}

.custom {
    width: 469px;
    height: 112px;
    margin-left: 100px;
    padding: 30px 50px;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    border-color: #E6BDBC;
    background-color: #E6BDBC;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Nohemi";
    color: white;

    transition: all 0.5s ease;
}

.custom:hover {
    letter-spacing: 7px;
    background-color: #F7F4EA;
    color: black;
    box-shadow: rgb(230, 188, 188) 0px 7px 29px 0px;
}

.custom:active {
    letter-spacing: 7px;
    background-color: #F7F4EA;
    color: black;
    box-shadow: rgb(230, 188, 188) 0px 0px 0px 0px;
    transform: translateY(2px);
    transition: 100ms;
}